files:
  "/var/config/config.json":
    mode: "000444"
    content: |
      {
          "Region": "`{"Ref" : "AWS::Region"}`",
          "ElastiCache": "`{"Ref" : "MyElastiCache"}`"
          "QueueURL": "`{"Ref" : "MySQSQueue"}`"
      }

option_settings:
  "aws:elasticbeanstalk:customoption":
     CacheNodeType : cache.m1.medium
     NumCacheNodes : 1
     VisibilityTimeout : 30

option_settings:
  - option_name: CONFIG_FILE
    value: /var/config/config.json
